* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  background-color: #E8EAF6;
}

h1 {
  line-height: inherit;
  color: inherit;
  font-size: 105px;
  font-family: 'Karla', sans-serif;
  font-weight: inherit;
}

h2 {
  line-height: inherit;
  color: inherit;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  display: inline;
  font-weight: inherit;
}

h3 {
  line-height: inherit;
  color: #C5CAE9;
  font-size: 37px;
  font-family: 'Karla', sans-serif;
  display: inline;
  font-weight: inherit;
}

i {
  height: 26px;
  transition: color .2s;
  cursor: pointer;
}

i:hover {
  color: #3F51B5;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#topbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #3F51B5;
  color: #E8EAF6;
  display: flex;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
  line-height: 60px;
  font-weight: bold;
}

#hero {
  height: 75vh;
  width: 100%;
  background-color: #3F51B5;
  /*box-shadow: 0px 0px 2px 2px #303235;*/
  display: flex;
  justify-content: center;
}

#greeter {
    height: 300px;
    color: #E8EAF6;
    padding-top: 32vh;
    float: left;
    margin-top: calc(30vh - 200px);
}

#about-me {
  font-size: 40px;
  line-height: 150%;
  color: #303235;
  padding-top: 60px;
  height: 70vh;
}

.column-1000 {
  height: 100%;
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

.picture-frame.outer {
  height: 40vh;
  width: 40vh;
  border-radius: 40vh;
  /*box-shadow: 0px 0px 5px 0px #303235;*/
  background-color: #3F51B5;
  float: right;
  margin-top: 30vh;
}

.picture-frame.inner {
  height: 38vh;
  width: 38vh;
  border-radius: 38vh;
  margin: 10px;
  overflow: hidden;
}

.picture-frame.picture {
  height: 100%;
  width: 100%;
}

.about-text {
  height: 90%;
}

.social-media-panel {
  height: 10%;
  font-size: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.fa {
  margin-left: 30px;
  margin-right: 30px;
}
