* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  background-color: #E8EAF6;
}

h1 {
  line-height: inherit;
  color: inherit;
  font-size: 70px;
  font-family: 'Space Mono', monospace;
}

h2 {
  line-height: inherit;
  color: inherit;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  display: inline;
}

h3 {
  line-height: inherit;
  color: #C5CAE9;
  font-size: 37px;
  font-family: 'Space Mono', monospace;
  display: inline;
}


#topbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #3F51B5;
  color: #E8EAF6;
  display: flex;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
  line-height: 60px;
}

#hero {
  height: 30vh;
  width: 100%;
  background-color: #3F51B5;
  /*box-shadow: 0px 0px 2px 2px #303235;*/
  display: flex;
  justify-content: center;
}

#greeter {
    height: 300px;
    color: #E8EAF6;
    padding-top: 30px;
    float: left;
    margin-top: calc(30vh - 200px);
}

#about-me {
  font-size: 40px;
  line-height: 60px;
  color: #303235;
  padding-top: 60px;
  height: 70vh;
}

.column-1000 {
  height: 100%;
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

.picture-frame.outer {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  box-shadow: 0px 0px 5px 0px #303235;
  background-color: #FF5252;
  float: right;
  margin-top: calc(30vh - 200px);
}

.picture-frame.inner {
  height: 280px;
  width: 280px;
  border-radius: 280px;
  margin: 10px;
  overflow: hidden;
}

.picture-frame.picture {
  height: 100%;
  width: 100%;
}

.about-text {
  height: 90%;
}

.social-media-panel {
  height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.fa {
  margin-left: 20px;
  margin-right: 20px
}
