body {
		margin: 0px;
		height: 100vh;
		background-color: #FFFFFF;
		z-index: 0;
}

/*Mofifications to text elements*/
h1, h2 {
	font: inherit;
	font-family: "Karla",sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 45px;
}

p {
	font-family: "Lato", sans-serif;
	font-size: 29px;
	text-align: left;
	line-height: 60px;
}

a {
	text-decoration: none;
}

/*Modifications to other elements*/
img {
	height: auto;
	width: 100%;
}


/*Default section parameters*/
.section, .subsection {
	width: 99%;
	height: 100%;
	display: flex;
	float: left;
	justify-content: center;
	align-items: center;
}

.subsection {
	height: auto;
}
/*Section modifications*/

.section.splash-page {}

.section.about {
	flex-direction: column;
}

.section.works {
	height: 150vh;
	display: block;
}

.section.contact-me {
	flex-direction: column;
}

.subsection.links {

}

/*just a colorful band at the side of the screen*/
.section-trail {
	height: 100%;
	width: 1%;
	float: right;
}

.section-trail.splash    {background-color: #FF7676;}
.section-trail.about     {background-color: #F6F49D;}
.section-trail.works     {background-color: #5DAE8B; height: 150vh;}
.section-trail.contact-me{background-color: #466C95;}

/*Top left panel*/
/*Transform to center image*/
.location-disp {
	position: fixed;
	height: 30px;
	width: 360px;
	top: 20px;
	right: 20px;
	/*transform: translate(180px, -15px);*/
	z-index: 11;
}

.loc-panel {
	height: 21px;
	width: 360px;
	display: flex;
	justify-content: space-around;
	z-index: 11;
}

.loc-element {
	height: 100%;
	line-height: 21px;
	width: auto;
	color: #333333; /*BB8863*/
	font-family: "Karla", sans-serif;;
	font-weight: bold;
	font-size: 16px;
	cursor: hand;
	transition: color .2s;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	z-index: 11;
}

.loc-element:hover {
	color: #333333;
}

.loc-underline {
	background-color: #333333 /*BB886E*/;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 2px;
	width: 43.6px;
	left: 20px;
	top: -30px;
	background-blend-mode: color-burn;
	position: relative;
	transition: left .2s, width .2s;
	z-index: 11;
}

/*Other styling*/
.card {
	position: relative;
	background-color: #FFFFFF;
	transform: scale(.8,.8);
	transition: transform .3s, opacity .3s;
	opacity: 0;
}

.col-1-2 {
	height: 100%;
	width: 50%;
	float: left;
	display: flex;
}

.col-1-2.right {justify-content: flex-start;}
.col-1-2.left  {justify-content: flex-end;  }

#splash-text {
	width: 100%;
	height: auto;
	font-size: 95px;

	transform: scale(1,1);
	opacity: 1;
}

#about-text {
}

#about-me {
	width: 500px;
	height: auto;
}

#works-text {
}

#robotticelli {
	width: 400px;
	height: 750px;
	right: 50px;
}

#classcribe {
	width: 400px;
	height: 600px;
	left: 50px;
	top: 400px;
}

#contact-text {
}

#github, #linkedin, #medium{
	width: 300px;
	height: 300px;
}

#linkedin {left:  50px;}
#medium   {right: 50px;}

/*Adding some basic mobile support*/

@media only screen and (orientation: portrait) {

	.col-1-2{
		height: 50%;
		width: 100%;
	}

	.col-1-2.right {justify-content: center;}
	.col-1-2.left  {justify-content: center;}

	#classcribe {
		top: 0px;
		left: 0px;
	}

	#robotticelli {
		right: 0px;
	}

	.subsection.links{
		flex-direction: column;
	}

	#medium {
		right: 0px;
	}

	#linkedin {
		left: 0px;
	}
}
