body {
		margin: 0px;
		height: 100vh;
		background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

h1 {
	font: inherit;
	font-family: "Karia", sans-serif;
}

/*Default section parameters*/
.section {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Section modifications*/

.section.splash-page {}

.section.about {}

.section.works {height: 160vh;}

.section.contact-me {}

/*Top left panel*/
.location-disp {
	position: fixed;
	height: 30px;
	width: 360px;
	top: 20px;
	right: 20px;
	mix-blend-mode: exclusion;
}

.loc-panel {
	height: 21px;
	width: 360px;
	display: flex;
	justify-content: space-around;
}

.loc-element {
	height: 100%;
	line-height: 21px;
	width: auto;
	color: #333333 /*BB8863*/
	font-family: helvetica;
	font-weight: bold;
	font-size: 16px;
	cursor: hand;
	transition: color .2s;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.loc-element:hover {
	color: #333333;
}

.loc-underline {
	background-color: #333333 /*BB886E*/;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 3px;
	width: 54px;
	left: 13px;
	background-blend-mode: color-burn;
	position: relative;
	transition: left .2s, width .2s;
}

/*Other styling*/
.card {
	position: relative;
	background-color: #CCCCCC;
	transform: scale(.8,.8);
	transition: transform .3s, opacity .3s;
	opacity: 0;
}

#splash-text {
	width: 600px;
	height: 400px;
	right: 100px;
	transform: scale(1,1);
	opacity: 1;
}

#about-me {
	width: 430px;
	height: 600px;
}

#robotticelli {
	width: 400px;
	height: 600px;
	right: 50px;
	bottom: 200px
}

#classcribe {
	width: 400px;
	height: 600px;
	left: 50px;
	top: 200px;
}

#facebook, #github, #linkedin{
	width: 400px;
	height: 400px;
}

#facebook {right: 100px;}
#linkedin {left:  100px;}
