body {
	padding: 0px;
	margin: 0px;
	height: 100vh;
}

.section {
	height: 98%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section.white {
	background-color: #D8D7C3;
	color: #333333;
}
.section.blue1 {
	background-color: #7DB9B3;
	color: #EEEEEE;
}
.section.blue2 {
	background-color: #166678;
	color: #EEEEEE;
}
.section.blue3 {
	background-color: #0E2E3B;
	color: #EEEEEE;
}

.location-disp {
	position: fixed;
	height: 30px;
	width: 360px;
	top: 20px;
	right: 20px;
	mix-blend-mode: difference;
}

.loc-panel {
	height: 21px;
	width: 360px;
	display: flex;
	justify-content: space-around;
}

.loc-element {
	height: 100%;
	line-height: 21px;
	width: auto;
	color: #EEEEEE;
	font-family: helvetica;
	font-weight: bold;
	font-size: 16px;
	cursor: hand;
	transition: color .2s;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.loc-element:hover {
	color: #333333;
}

.loc-underline {
	background-color: #EEEEEE;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 3px;
	width: 48px;
	left: 15px;
	background-blend-mode: difference;
	position: relative;
	transition: left .2s, width .2s;
}


/*For screens phones*/
@media screen and (max-aspect-ratio: 9/16) {
	.location-disp {
		visibility: hidden;
	}
}

/*For screens between phone size and not > 16/9*/
@media screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 9/16) {
	.content-holder{
		height: 56.25vw;
		width: 100.00vw;
	}

	.location-disp {
		visibility: visible;
	}
}

/*For screens > 16/9*/
@media screen and (min-aspect-ratio: 16/9) {
	.content-holder{
		height: 98.00vh;
		width: 174.22vh;
	}

	.location-disp {
		visibility: visible;
	}
}


