<html>
  <head>
    <link rel="stylesheet" type="text/css"
    href="http://localhost:3000/static/assets/styles/blogstyle.css">
  </head>
  <body>
    <div class="center-both">
      <div id="title">
        {{title}}
      </div>
    </div>
    <div class="center-horizontal">
      <div id="post">
        {{post}}
      </div>
    </div>
    <div id="control">
      <div class="col-1-2">
        <a href={{pp}}>
          <h3>Previous</h3>
        </a>
        <a href={{pn}}>
          <h3>Next</h3>
        </a>
      </div>
      <div class="col-1-2">
      </div>
    </div>
  </body>
</html>
